.Students-Document-Page p {
    color: green;
}

.Students-Document-Page #heading {
    text-transform: uppercase;
    color: #00b2d6;
    font-weight: normal
}

.Students-Document-Page #msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}





.Students-Document-Page #msform fieldset:not(:first-of-type) {
    display: none
}



.Students-Document-Page #msform .action-button {
    width: 100px;
    background-image: linear-gradient(to bottom, rgb(7, 121, 136), rgb(0, 147, 163), rgb(0, 185, 203));
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right
}

.Students-Document-Page #msform .action-button:hover,
.Students-Document-Page #msform .action-button:focus {
    background-image: linear-gradient(to bottom, rgb(7, 121, 136), rgb(0, 147, 163), rgb(0, 185, 203));
}

.Students-Document-Page #msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right
}

.Students-Document-Page #msform .action-button-previous:hover,
.Students-Document-Page #msform .action-button-previous:focus {
    background-color: #000000
}

.Students-Document-Page .card {
    z-index: 0;
    border: none;
    position: relative
}

.Students-Document-Page .fs-title {
    font-size: 25px;
    color: #00b2d6;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left
}

.Students-Document-Page .purple-text {
    color: #00b2d6;
    font-weight: normal
}

.Students-Document-Page .steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right
}

.Students-Document-Page .fieldlabels {
    color: gray;
    text-align: left
}

.Students-Document-Page #progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

.Students-Document-Page #progressbar .active {
    color: #00b2d6
}

.Students-Document-Page #progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400
}

.Students-Document-Page #progressbar #account:before {
    font-family: FontAwesome;
    content: "\f13e"
}

.Students-Document-Page #progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f007"
}

.Students-Document-Page #progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f030"
}

.Students-Document-Page #progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c"
}

.Students-Document-Page #progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

.Students-Document-Page #progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

.Students-Document-Page #progressbar li.active:before,
.Students-Document-Page #progressbar li.active:after {
    background-image: linear-gradient(to bottom, rgb(7, 121, 136), rgb(0, 147, 163), rgb(0, 185, 203));
}

.Students-Document-Page .progress {
    height: 20px
}

.Students-Document-Page .progress-bar {
    background-color: #673AB7
}

.Students-Document-Page .fit-image {
    width: 100%;
    object-fit: cover
}